REACT_APP_API_KEY = #firebase configurations
REACT_APP_AUTH_DOMAIN = #firebase configurations
REACT_APP_DATABASE_URL = #firebase configurations
REACT_APP_PROJECT_ID = #firebase configurations
REACT_APP_STORAGE_BUCKET = #firebase configurations
REACT_APP_MESSAGING_SENDER_ID = #firebase configurations
REACT_APP_APP_ID = #firebase configurations